<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="importmap">
        {
          "imports": {
            "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
          }
        }
    </script>
</head>

<body>
    <style>
        input {
            display: block;
            margin: 20px;
        }
    </style>
    <h1>Home Page</h1>
    <form action="/api/v1/auth/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    <div class="contacts">

    </div>
    <form class="send-msg">
        <input type="text" class="msg">
        <input type="submit">
    </form>
    <div class="new-message">
        <form action="/api/v1/messages/sendMessage" method="post">
            <label for="receiver">Receiver</label>
            <input type="text" id="receiver" name="receiver">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
            <input type="submit">
        </form>
    </div>
    <div class="rooms">
        <form action="/api/v1/rooms" method="get">
            <input type="submit" value="Get rooms">
        </form>
    </div>
    <div class="chats">
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js" type="module"></script>
</body>

</html>